body{

background-image: url(../estilos/img/poswebinar.jpg);
background-repeat: no-repeat;
background-size: cover;

}

img {
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    
    
    
  }
  